core/target
core/todo.txt
distribution/bin
distribution/report
distribution/target
./metadata

temp
/core/src/test/groovy/com/predic8/wsdl/TemporaryTest.groovy
/core/src/test/resources/wadl/yahoo.xml
/.project
/.settings/

# Ignore Gradle config dir
.gradle

# Ignore Gradle output dir
build/

# Ignore Gradle GUI config
/gradle-app.setting
