./metadata
temp
*/bin
*/report
*/target
*/.settings
*/.classpath
*/.project
*/.groovy
.m2
.idea
*.iml

# Ignore Gradle config dir
.gradle

# Ignore Gradle output dir
build/

# Ignore Gradle GUI config
/gradle-app.setting
